*, *:after, *:before {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background: #e3f0f2;
}

.content {
    max-width: 700px;
    margin: 50px auto;
    background: white;
    border: solid 1px #efefef;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    padding: 20px;
}

h1.title {
    text-align: center;
    font-size: 75px;
    color: #6b979d;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    margin-top: 50px;
    padding-bottom: 17px;
    border-bottom: solid 1px #efefef;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.control {
    float: left;
    width: 50%;
    padding: 0 5px;
}

label {
    display: block;
    margin-bottom: 3px;
}

input {
    display: block;
    width: 100%;
    height: 30px;
    border: solid 1px #6b979d;
    border-radius: 3px;
}

input[type='text'] {
    padding: 0 5px;
}

input[type='file'] {
    padding: 3px 5px;
}

input[type='submit'] {
    clear: both;
    padding: 10px;
    height: auto;
    border: solid 1px #6b979d;
    background: #e3f0f2;
    box-shadow: inset 0 -3px 0 #6b979d;
    cursor: pointer;
    transition: .3s;
    border-radius: 3px;
}

input[type='submit']:hover {
    background: #6b979d;
    transition: .3s;
    color: white;
}

.clear {
    clear: both;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    h1.title {
        font-size: 35px;
    }

    .control {
        width: 100%;
    }

    .control + .control {
        margin-top: 20px;
    }

    .content {
        margin: 20px 10px;
    }
}